# User-specific files
*.suo
*.user
*.sln.docstates
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
[Pp]ublish/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
/src/.idea
.DS_Store
build/
